<p [ngClass]="estilo">comp-atributos works!</p>
<button (click)="trocar()">MUDAR</button>
<h1 [ngStyle]="{'background': corFundo, 'color': corDaFonte}">CURSO ANGULAR</h1>

<h1>Lista de compras</h1>
<p>Adicione um item</p>
<input type="text" [(ngModel)]="item">
<button (click)="adicionarLista()">ADICIONAR</button>
<p>{{ item }}</p>

<ul>
    <li *ngFor="let elemento of lista">{{ elemento }}</li>
</ul>

<hr>

<!-- Opção é exibida conforme isEnabledBlock em comp-atributos.component.ts for setada para um tipo booleano. -->
<ng-template [ngIf]="isEnabledBlock">
    <a href="#">FINALIZAR COMPRA</a>
</ng-template>
<br />
<ng-template [ngIf]="true">
    <a href="#">ADICIONAR AO CARRINHO</a>
</ng-template>